
// comvertidor de pixel a em
@function em($valor, $cantidad:16px){
    @return ($valor / $cantidad ) * 1em; 
}

$blanco: #fff;
$amarillo : #f1c40f;
$carnesi: #c0392b;
$gris:#bdc3c7;
$opaco:#ecf0f1;

// fuentes del la pagina web
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,500,600,700');
$titulo:'Raleway', sans-serif;
$texto: 'Open Sans', sans-serif;

// elementos css cada elementos
@import "elementos/header.scss";
@import "elementos/header.scss"