    
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portafolio Juan Simanca
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(href="css/slick.css", rel="stylesheet")
        link(rel="stylesheet", href="css/lightbox.min.css")
        link(rel="stylesheet", href="css/style.css")
        block variables
            include variable.pug
    body
        .form_wrap
            section.mensaje-exito
                h1 Mensaje enviado exitosamente
                a(href="index.html") regresar