extends ./template/template

block header 
   include template/header.pug

block conoceme
   include  template/conoceme.pug
         
block servicios
   include  template/servicios.pug   


block trabajos
   include template/trabajos.pug

block contacto
   include template/contacto.pug
   