// .containes edicion section
.container{
    width: none;
}

// edicion titulares configuration
.texto-conoceme{
    h3{
        color:$azul-icon;
        font-size: em(25px);
        font-family: $titulo;
    }
    p.texto {
        font-size: em(18px);
        color: $gris-oscuro;
    }
}
.section{
    padding-top: 60px;
    padding-bottom: 40px;
}


.slick-slide{
    padding: 50px 20px;
}