// .containes edicion section
.container{
    width: none;
}

// edicion titulares configuration
.texto-conoceme{
    h3{
        color:$azul-icon;
        font-size: em(25px);
        font-family: $titulo;
    }
    
}
.section{
    padding-top: 60px;
    padding-bottom: 40px;
}


.slick-slide{
    @media (min-width:650px ){
        padding: 20px 25px;
        
    }
    @media (max-width:599px){
        padding: 20px 20px;
        
    }
    @media (max-width:640px ){
        padding: 20px 50px;
        
    }
    @media (max-width:450px ){
        padding: 20px 20px;
        
    }
    
}
  
// padin superior area foto conoceme
.content-1{
    height: 100%;
    padding-top: 80px;
    @media (max-width:600px ) {
        padding-top: 10px;        
    }
}