

// position fixe del navbar//
.fixeb-top{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color:rgba($color: #999a9b, $alpha: .2);
}
//--fin position fixed--//

// personalizacion de contenido navbar menu principal//
.table-of-contents a {
    display: inline;
    font-weight: 500;
    color: #fff;
    padding-left: 16px;
    
    line-height: 1.5rem;
    letter-spacing: .4;
    font-family: $titulo;
    border-bottom: 2px solid transparent;
    padding: 10px ;
    transition: all .5s ease-in;
    text-transform: capitalize;
    

}
// fin navbar personalizacion

// efecto hover en scrollpy deslizamiento//
.table-of-contents a:hover{
    color: $amarillo;
    padding-left: 15px;
    border-left: none;
    
    border-bottom: 2px solid $amarillo;
    padding: 10px ;
    display: inline;
    
}

nav ul a:hover {
    background: none;
}

// slider modificacion tamaño
.slider{
    height: 100vh !important;
}
// botones del slider left - :right

.next,.prev{
    color: #fff;
    position: absolute;
    top: 45%;
    z-index: 100;
    cursor: pointer;
    opacity: .5;
    
    &.next{
        left: 0;
    }
    &.prev{
        right: 0;
    }
} 


//////////active del srollpy congfiguration////////////

.table-of-contents a.active {
    color: $amarillo;
    padding-left: 15px;
    border-left: none;
    
    border-bottom: 2px solid $amarillo;
    padding: 10px ;
    display: inline;

}


// personalizacion slider header//@at-root
.slider .slides{
    height: 100%;
}

.slider1,.slider2,.slider3{
    h3{

        font-family: $titulo;
        font-weight: 300;
        font-size: em(50px);
        text-transform: capitalize;
    }
    p{
        font-size: em(18px);
        color: $blanco;
    }
  
}
.slider1{
    h3{
        span{
            color: $amarillo;
            font-weight: bold;
        }
    }
}
.slider2{
    h3{
        span{
            color: $carnesi;
            font-weight: bold;
        }
    }
}
.slider3{
    h3{
        span{
            color: $opaco;
            font-weight: bold;
        }
    }
}