section.section#section
    .container
        .row
            .col.m4.s12
                .contenedor-foto
                    img(src="imagenes/foto.png " class="responsive-img", alt="foto perfil personal")
                .Herramientas
                h5.center-align Herramientas
                    div(class="carousel-herramientas")
                        each slider in [1,2,3,4,5,6,7,8] 
                            img(src=`imagenes/slider/slider${slider}.png`, alt="", srcset="")
                        
                            
                        
            .col.m8.s12
                .contenido-conoceme
                    .titulares
                        h4.titulo-borde Conoceme
                        h3.h3titulo Algo de My
                    .texto-conoceme
                        h3 Soy un Técnico Profesional que cuenta con mas de 5 años de experiencia en mundo del Diseño Grafico.
                        p.texto  Mi nombre es Juan pablo simanca, soy diseñador Gráfico del centro sena Colombia, orientado en Branding y gestión en Diseño, con habilidades en desarrollo de marca y diseño web. Actualmente trato de enfocar mi proyectos en dos áreas: Marketing en redes sociales y Diseño Web. Son dos áreas diferentes entre sí, pero que se complementan muy bien en nuestra sociedad global cada vez más digital y competitiva.
                         
                        .row
                            .col.l6.s12
                                p Carrera 40a No. 27 - 26
                                    i(class="material-icons left") room 
                                p juansf80@hotmail.com
                                    i(class="material-icons left") email     

                            .col.l6.s12 
                                p 300 434 1113 - 392 2394       
                                    i(class="material-icons left") settings_cell
                                p 30 años
                                    i(class="material-icons left") date_range    