div(class="divider")
section.contacto#contacto.section
    .form_wrap.container
        .row
            .col.s6 
                section(class="contact-info")
                    span(class="")
            .col.s6
                form(action="" class="form_contact")
