footer.section.footer#footer.blue.darken-1
    .container.white-text
        .row
            .col.s12.center-align
                p © Juan Pablo Simanca Portafolio | 2019 |  Diseñador Gráfico | freelance
            .col.s12
                .redes-sociales

