header#header.header
    nav() 
        div( class="nav-wrapper")
            .container
                a(href="#" class="brand-logo ") logotipo
                a(href="#" data-activates="mobile-demo" data-target="menu-reponsive"  class="button-collapse right sidenav-trigger")
                    i(class="material-icons") menu    
                ul(id="nav-mobile" class="right hide-on-med-and-down")
                    li: a(href="#") Inicio
                    li: a(href="#") Conoceme
                    li: a(href="#") Trabajos
                    li: a(href="#") Contacto
                ul(class="side-nav" id="mobile-demo" id="menu-reponsive")
                    li: a(href="#") Inicio
                    li: a(href="#") Conoceme
                    li: a(href="#") Trabajos
                    li: a(href="#") Contacto
