header#header.header
    div(class="")
        nav(class="fixeb-top transparent")
            .container
                div(class="nav-wrapper")
                    a(href="#!" class="brand-logo") 
                        img(src="imagenes/logotipo.svg", alt="", srcset="")
                    a(href="#" data-target="mobile-demo" class="sidenav-trigger right")
                        i(class="material-icons") menu
                    ul( class="right hide-on-med-and-down table-of-contents")
                        li: a(href="#conoceme") Inicio
                        li: a(href="#servicios") Inicio
                        li: a(href="#trabajos") Inicio
                        li: a(href="#contacto") Inicio
        ul(ul class="sidenav " id="mobile-demo")
            li: a(href="#conoceme") Inicio
            li: a(href="#servicios") Inicio
            li: a(href="#trabajos") Inicio
            li: a(href="#contacto") Inicio
    div(class="contenedor_slider")
        div(class="slider")
            ul(class="slides")
                li
                    img(src="imagenes/slider-1.jpeg")
                    div(class="caption left-align")
                        h3 diseño grafico
                        p() Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime reiciendis eos nobis nisi tenetur porro excepturi doloribus blanditiis magnam rerum.
                        button boton
                li
                    img(src="imagenes/slider-2.jpeg")
                    div(class="caption left-align")
                        h3 diseño grafico
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime reiciendis eos nobis nisi tenetur porro excepturi doloribus blanditiis magnam rerum.        
                        button boton
                li
                    img(src="imagenes/slider-3.jpeg")
                    div(class="caption left-align")
                        h3 diseño grafico
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime reiciendis eos nobis nisi tenetur porro excepturi doloribus blanditiis magnam rerum.
                        button boton
            div(class=" prev "): i(class="material-icons large") chevron_right
            div(class=" next "): i(class="material-icons large") chevron_left