header#inicio.header
    //- menu header reponsonsive 
    div(class="")
        nav(class="fixeb-top scrollspy")
            .container
                div(class="nav-wrapper")
                    a(href="#!" class="brand-logo")
                        .contenedor-logo 
                            img(src="imagenes/logotipo.svg", alt="", srcset="")
                    a(href="#" data-target="mobile-demo" class="sidenav-trigger right")
                        i(class="material-icons") menu
                    ul( class="right hide-on-med-and-down table-of-contents")
                        each navegador in menu                      
                            li
                                a(href=`#${navegador}`, title="title")= `${navegador}`
                            
                            
        //-  sideva contenido               
        ul(ul class="sidenav table-of-contents" id="mobile-demo")
            each navegador in menu                      
                li
                    a(href=`#${navegador}`, title="title")= `${navegador}`
    
    //- slider contenido
    div(class="contenedor_slider")
        div(class="slider")
            ul(class="slides")
                //- elemento slider #1
                li
                    img(src="imagenes/slider-1.jpeg")
                    div(class="caption left-align container")
                        .row
                            .col.m7.s12.slider1
                                h3 diseño 
                                    span grafico
                                p() Atraiga la atención de sus clientes con diseños realizados por un profesional con experiencia.
                                a(class="waves-effect waves-light  btn" href="Hv.pdf" target="_blank") Resumen
                                    i(class="material-icons right") get_app
                            .col.s5.hide-on-small-only    
                               
                //- elemento slider #2
                li
                    img(src="imagenes/slider-2.jpeg")
                    div(class="caption left-align container")
                       .row
                            .col.m7.s12.slider2
                                h3 Publicidad 
                                    span Redes Sociales
                                p() Dale un impulso a tu próxima campaña en redes sociales añadiendo mensajes y imágenes con llamativos diseños.


                                a(class="waves-effect waves-light btn" href="Hv.pdf" target="_blank") Resumen
                                    i(class="material-icons right") get_app
                            .col.s5.hide-on-small-only 
                //- elemento slider #3
                li
                    img(src="imagenes/slider-3.jpeg")
                    div(class="caption left-align container")
                        .row
                            .col.m7.s12.slider3
                                h3 diseño 
                                    span Web
                                p() Crearé tu web para que posicione bien en Google gracias a un desarrollo muy optimizado y un diseño simple e intuitivo.
                                a(class="waves-effect waves-light btn"  href="Hv.pdf" target="_blank") Resumen
                                    i(class="material-icons right") get_app
                            .col.s5.hide-on-small-only 
            //- botones slider header
            div(class=" prev "): i(class="material-icons large") chevron_right
            div(class=" next "): i(class="material-icons large") chevron_left