div(class="divider")
section.servicios#servicios.scrollspy
    .container.center-align
        .row
            .col.s12
                .titulares
                    h4.titulo-borde Servicios
                    h3.titulos-2 My Servicios
                p.texto Mis servicios están enfocados en el Diseño y desarrollo de Branding,Corporativo, Marcas y Diseño y maquetacion web. Siempre estoy dispuesto a aceptar nuevos retos, me gusta experimentar con técnicas análogas y digitales. Imagino mundos y le doy forma a lo intangible a través del pixel.
        
            
        .row
            .col.l3.m6.s12
                div(class="card")
                    div(class="card-imagen")
                        img(src="imagenes/icon1.svg", alt="", srcset="")
                    span(class="card-title") Diseño Grafico
                    div(class="card-content")
                        p diseño de folletos, catálogos, Brochures . Tarjeteria, Pendones Gran formato etc... 
            
            .col.l3.m6.s12
                div(class="card")
                    div(class="card-imagen")
                        img(src="imagenes/icon2.svg", alt="", srcset="")
                    span(class="card-title") Diseño Web
                    div(class="card-content")
                        p Branding, menbrete , Tarjetas , Logotipos, Papeleria Empresarial etc...  
            
            .col.l3.m6.s12
                div(class="card")
                    div(class="card-imagen")
                        img(src="imagenes/icon3.svg", alt="", srcset="")
                    span(class="card-title") Corporativo
                    div(class="card-content")
                        p Banner Web, Paginas Web, Diseños Interfaz Reponsive etc... 
            
            .col.l3.m6.s12
                div(class="card")
                    div(class="card-imagen")
                        img(src="imagenes/icon4.svg", alt="", srcset="")
                    span(class="card-title") Redes Sociales
                    div(class="card-content")
                        p Perfiles Sociales personalizado Imágenes llamativas para campañas Web.

//- banner servicio freelanc

div.freelance#freelance
    div(class="servicio-freelance ")
        .alinear.center-align 
            .contenido-texto
                h3.titulo-frase Estoy disponible para trabajar como Freelancer !
                p.frase La única manera de hacer bien tu trabajo es amando lo que haces.

