<!DOCTYPE html>

    
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="Author" content="juan pablo Simanca")
        meta(name="Subject" content="Diseñador grafico - web, freelance / reponsive, Portafolio Diseño Grafico, ")
        meta(name="Description" content="estés es un portafolio de trabajo mostrando mi experiencia y practica en el diseño gráfico a mas de 5 años de experiencia ")
        meta(name="Keywords" content="Diseñador gráfico freelance, Diseñador Web freelance y diseñador web freelance, diseño gráfico, diseño de páginas web y desarrollo páginas web. Ubicado en soledad atlantico (Colombia). Diseño y desarrollo webs sites responsive, webs sites responsive, diseñador de: imagen corporativa, logotipos, folletos, brochures, identidad corporativa, afiches, pendones, etc. Freelance Designer Design in Colombia, portafolio web,seo")
        title Portafolio Juan Simanca
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(href="css/slick.css", rel="stylesheet")
        link(rel="stylesheet", href="css/lightbox.min.css")
        link(rel="stylesheet", href="css/style.css")
        block variables
            include variable.pug
    body
        //- preloades
    
        //- boton subir rriba
    
        div(class="subir_arriba")
            i(class="material-icons") keyboard_arrow_up
        
        block header
            
        block conoceme

        block servicios
            
        block trabajos

        block contacto
        
        block footer

        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="js/slick.min.js")
        script(src="js/lightbox.min.js")
        script(src="js/mixitup.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js")
        script(src="js/index.js")
      
                
       
                
                

                
            