div(class="divider")
section.trabajos#trabajos.section
    .container.center-align
        h4.titulo-borde Trabajos
        h3.titulos-2 My Trabajos
        p.texto Conoce algunos de mis proyectos mas importantes
    .container-fluid
        .conten-menu-gallery.center-align.section
            .category-list
                a( class="categoria-list all active-gallery"  category="all") Todo 
                a( class="categoria-list corporativo" category="corporativo") Corporativo
                a( class="categoria-list diseno" category="diseno") Diseño
                a( class="categoria-list web" category="web") Web   
        
        .product-list
             
            div(class="product-item" category="corporativo")
                img(src="imagenes/gallery/corporativo-1.jpg", alt="") 
            div(class="product-item" category="diseno")
                img(src="imagenes/gallery/diseno-1.jpg", alt="")     
            div(class="product-item" category="web")
                img(src="imagenes/gallery/web-1.jpg", alt="") 
            
            div(class="product-item" category="corporativo")
                img(src="imagenes/gallery/corporativo-2.jpg", alt="") 
            div(class="product-item" category="diseno")
                img(src="imagenes/gallery/diseno-2.jpg", alt="")     
            div(class="product-item" category="web")
                img(src="imagenes/gallery/web-2.jpg", alt="")

            div(class="product-item" category="corporativo")
                img(src="imagenes/gallery/corporativo-3.jpg", alt="") 
            div(class="product-item" category="diseno")
                img(src="imagenes/gallery/diseno-3.jpg", alt="")     
            div(class="product-item" category="web")
                img(src="imagenes/gallery/web-3.jpg", alt="")               